<!DOCTYPE html>
<html>
<head>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" 
content="text/html" charset="UTF-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
rel="stylesheet">
</head>
<body class="container">
	
	<h1 class="display-4 mb-4" th:text="${title}"></h1>
	<p th:text="${msg}"></p>
	<form method="post" action="/find">
		<div class="input-group">
			<input type="text" class="form-control me-1" name="find_str" th:value="${value}" />
			<span class="input-group-btn">
				<input type="submit" class="btn btn-primary px-4" value="Click" />
			</span>
		</div>
	</form>
	
	<table class="table">
		
		<thead>
			<tr><th>ID</th><th>Name</th><th>Mail</th><th>Age</th></tr>
		</thead>
		
		<tbody>
			<tr th:each="item : ${data}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.mail}"></td>
				<td th:text="${item.age}"></td>
			</tr>
		</tbody>
		
	</table>
 
</body>
</html>