<!DOCTYPE html>
<html>
<head>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" 
content="text/html" charset="UTF-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
rel="stylesheet">
</head>
<body class="container">
	<h1 class="display-4 mb-4" th:text="${title}"></h1>
	<p th:text="${msg}"></p>
	
	<form method="post" action="./" th:object="${formModel}">
		
		<div class="mb-3">
			<label for="content" class="form-label">Content</label>
			<input type="text" class="form-control me-1" name="content" th:value="*{content}" />
		</div>
		
		<div class="mb-3">
			<label for="name" class="form-label">Person ID</label>
			<input type="number" class="form-control me-1" name="person" th:value="*{person}" />
		</div>
		
		<div class="mb-3">
			<input type="submit" class="btn btn-primary px-4" value="Send" /> 
		</div>
		
	</form>
	
	<table class="table">
		
		<thead>
			<tr><th>ID</th><th>Content</th><th>Name</th><th>DateTime</th></tr>
		</thead>
		
		<tbody>
			<tr th:each="item : ${data}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.content}"></td>
				<td th:text="${item.person.name}"></td>
				<td th:text="${item.datetime}"></td>
			</tr>
		</tbody>
		
	</table>
	
</body>
</html>